<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
        >
        <testsuites>
                <testsuite name="Zettatel-wcsms Test Suite">
                        <file>tests</file>
                </testsuite>
        </testsuites>
</phpunit>